.container {
  margin-left: 2rem;
}

.spoiler_contents {
  margin: 1.25rem 0;
  display: flex;
  gap: 1.25rem;
  overflow-x: scroll;
  white-space: nowrap;
}
.spoiler_contents::-webkit-scrollbar {
  background-color: transparent;
  height: 0.625rem;
}
.spoiler_contents::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
  border-radius: 0.625rem;
}

.spoiler_content {
  position: relative;
  flex: 0 0 22.5rem;

  .gradientImg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 72%, #000 100%);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 13.75rem;
    border-radius: 0.625rem;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.625rem;
    }
  }
  .spoiler_text {
    position: absolute;
    left: 0.938rem;
    bottom: 1.25rem;
    
    p {
      font-family: Cafe24Oneprettynight;
    }
    p:first-child {
      font-size: 1rem;
    }
    p:last-child {
      font-size: 0.875rem;
      margin-top: 0.313rem;
    }
  }
}
.spoiler_content:last-child {
  margin-right: 2rem;
}

@media (max-width: 67.5rem) {
  .gradientImg {
    height: 15.313rem;
  }
}

@media (max-width: 43.75rem) {
  .container {
    margin-left: 1rem;
  }

  .spoiler_contents::-webkit-scrollbar {
    display: none;
  }

  .spoiler_content {
    max-width: 20rem;
  
    .gradientImg {
      width: 20rem;
      height: 11.25rem;
    }
  }
  .spoiler_content:last-child {
    margin-right: 1rem;
  }
  
  .spoiler_text {

    p:last-child {
      font-size: 0.5rem;
      margin-top: 0.063rem;
    }
  }
}