$main-radius: 0.625rem;

.spo_container {
  margin-left: 2rem;

  .spo_contents {
    margin: 1.25rem 0;
    display: flex;
    gap: 1.25rem;
    overflow-x: scroll;
    white-space: nowrap;
  
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 0.625rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #1c1c1c;
      border-radius: $main-radius;
    }

    .item {
      flex: 0 0 22.5rem;
    
      &:last-child {
        margin-right: 2rem;
      }
    
      img {
        width: 100%;
        height: 13.75rem;
        border-radius: $main-radius;
      }
    }
  }
}

@media (max-width: 67.5rem) {
  .spo_container {
    .spo_contents {
      .item {
        img {
          height: 15.313rem;
        }
      }
    }
  }
}

@media (max-width: 43.75rem) {
  .spo_container {
    margin-left: 1rem;

    .spo_contents {
      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        max-width: 20rem;
    
        &:last-child {
          margin-right: 1rem;
        }
      
        img {
          width: 100%;
          height: 11.25rem;
        }
      }
    }
  }
}