.slide_show::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

.banner {
  max-width: 100%;
  max-height: 25rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 3.4fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.313rem;
}

.slider {
  max-width: 100%;
  height: 25rem;
  position: relative;
}

.slide_show {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  border-radius: 0.625rem;
}

.slide {
  position: relative;
  flex: 0 0 100%;

  img {
    max-width: 100%;
    height: 25rem;
  }
  .snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
}

.slide_nav {
  position: absolute;
  right: 0;
  bottom: 1.25rem;
  left: 0;
  text-align: center;

  .slide_btn_item {
    display: inline-block;
  
    .slide_btn {
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      background-color: #333;
      background-clip: content-box;
      border: 0.313rem solid transparent;
      border-radius: 50%;
    }
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -200%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@media (hover: hover) {
  .snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .slide:last-child .snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .snapper {
    animation-name: none;
  }
}

.support {
  height: 5.313rem;
  background:  yellow;
  border-radius: 0.625rem;
}

.view_rank {
  height: 18.75rem;
  border: 1px solid #272727;
  background:  #1c1c1c;
  margin-top: 0.938rem;
  border-radius: 0.625rem;
}

@media (max-width: 67.5rem) {
  .banner {
    display: block;
    max-width: 57.188rem;
    max-height: 21.875rem;
  }

  .right_content {
    display: none;
  }

  .slider {
    max-width: 57.188rem;
    height: 21.875rem;

    .slide {
      img {
        max-width: 57.188rem;
        height: 21.875rem;
      }
    }
  }
}

@media (max-width: 24.375rem) {
  .banner {
    max-width: 22.375rem;
    max-height: 27.813rem;
    margin: 2rem 1rem;
    display: none;
  }
  
  .slider {
    max-width: 22.375rem;
    height: 27.813rem;

    .slide {
      img {
        max-width: 22.375rem;
        height: 27.813rem;
      }
    }
  }
  .slide_nav {
    display: none;
  }
}