$main-radius: 0.625rem;

.banner {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 15.625rem;
  grid-template-rows: 1fr;
  grid-gap: 1.313rem;
}

.slider {
  height: 25rem;
  position: relative;
}

.slide_show {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  border-radius: $main-radius;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  position: relative;
  flex: 0 0 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -200%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@media (hover: hover) {
  .snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .slide:last-child .snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .snapper {
    animation-name: none;
  }
}

.support {
  height: 5.313rem;
  background:  #d9d9d9;
  border-radius: $main-radius;
}

.view_rank {
  height: 18.75rem;
  border: 1px solid #272727;
  background:  #1c1c1c;
  margin-top: 0.938rem;
  border-radius: $main-radius;
}

@media (max-width: 67.5rem) {
  .banner {
    display: block;
  }

  .right_content {
    display: none;
  }

  .slider {
    height: 21.875rem;
  }
}

@media (max-width: 43.75rem) {
  .banner {
    margin: 2rem 1rem;
    margin-top: 0;
  }
  
  .slider {
    height: 27.813rem;
  }
}