.container {
  margin-left: 2rem;
}

.full_movie_contents {
  margin: 1.25rem 0;
  display: flex;
  gap: 1.25rem;
  overflow-x: scroll;
  white-space: nowrap;

  &::-webkit-scrollbar {
    background-color: transparent;
    height: 0.625rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #1c1c1c;
    border-radius: 0.625rem;
  }
}

@media (max-width: 43.75rem) {
  .container {
    margin-left: 1rem;
  }
  .full_movie_contents::-webkit-scrollbar {
    display: none;
  }
}