$main-radius: 0.625rem;
$primary-color: #456444;
$primary-margin: 2rem;
$secondary-margin: 1rem;

@mixin hashtagItem($bg-color) {
  flex: 0 0 auto;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.875rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.25rem;
  background: $bg-color;
}

.hashtag_container {
  margin-left: $primary-margin;
  
  .hashtagSelect {
    margin-top: 0.625rem;
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;

    &::-webkit-scrollbar {
      background-color: transparent;
      height: 0.625rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #1c1c1c;
      border-radius: $main-radius;
    }
  
    .hashtagItem {
      @include hashtagItem(#1c1c1c);

      &:last-child {
        margin-right: $primary-margin;
      }
    }

    .hashtagItem-clicked {
      @include hashtagItem($primary-color);

      &:last-child {
        margin-right: $primary-margin;
      }
    }
  }

  .movie_contents {
    margin: 1.25rem 0;
    display: flex;
    gap: 1.25rem;
    overflow-x: scroll;
    white-space: nowrap;
  
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 0.625rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #1c1c1c;
      border-radius: $main-radius;
    }
  
    .no_movie {
      width: 100%;
      height: 17.188rem;
      background: #1b1b1b;
      margin-right: $primary-margin;
      border-radius: $main-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      p {
        margin-top: 1.25rem;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 43.75rem) {
  .hashtag_container {
    margin-left: $secondary-margin;

    .hashtagSelect {
      &::-webkit-scrollbar {
        display: none;
      }

      .hashtagItem {
        &:last-child {
          margin-right: $secondary-margin;
        }
      }

      .hashtagItem-clicked {
        &:last-child {
          margin-right: $secondary-margin;
        }
      }
    }

    .movie_contents {

      &::-webkit-scrollbar {
        display: none;
      }

      .no_movie {
        height: 11.25rem;
        margin-right: $secondary-margin;
  
        img {
          width: 6.25rem;
          height: 5rem;
        }
      }
    }
  }
}