$primary-margin: 2rem;
$secondary-margin: 1rem;

.mobileHeader_container {
  height: 3.125rem;
  display: grid;
  margin: 0 $primary-margin 0 $secondary-margin;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: center;

  .hamberger_menu {
    cursor: pointer;
  }

  .logo {
    cursor: pointer;
    
    img {
      width: 2.363rem;
      height: 1.5rem;
    }
  }
}