* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  list-style: none;
}

body {
  box-sizing: border-box;
}

.container {
  position: fixed;
  width: 15.625rem;
  position: sticky;
  top: 0;
  height: 100vh;
  background: #1c1c1c;
  border-right: 1px solid #272727;
}

.top_bar {
  display: none;
}

.close_btn {
  display: none;
}

.logo {
  height: 5.625rem;

  a {
    display: block;
  }
  img {
    width: 2.95rem;
    height: 1.875rem;
    margin: 2rem 10.675rem 2rem 2rem;
  }
}

.nav {
  li {
    height: 3.75rem;
    text-align: center;
    line-height: 3.75rem;
    margin: 0.625rem 0.938rem;
  }
  li:first-child {
    margin-top: 0;
  }
  li:hover {
    border-radius: 0.625rem;
    background-color: #456444;
    transition: all 0.3s;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding-left: 1.25rem;

    span {
      margin-left: 0.625rem;
    }
  }
}

.profile {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.375rem;
}

.profile_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.375rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  p {
    margin-left: 0.625rem;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 67.5rem) {
  .container {
    width: 6.25rem;
  }

  .logo {
    img {
      width: 2.325rem;
      height: 1.5rem;
      margin: 2rem 2.063rem;
    }
  }

  .nav {
    li {
      line-height: 1.25rem;
      width: 4.5rem;
      height: 4.5rem;
      margin: 0.75rem 0.875rem;
    }
  
    a {
      flex-direction: column;
      padding-left: 0;
      padding-top: 1.063rem;

      span {
        padding-top: 0.313rem;
        font-size: 0.75rem;
        margin-left: 0;
      }
    }
  }

  .profile {
    height: 4.375rem;
    
    .profile_detail {
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 43.75rem) {
  .container {
    width: 100%;
    border-right: 0;
    overflow: hidden;
    background-color: #121212;
    display: none;
  }
  .containerActive {
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
  }
  .close_btn {
    display: block;
    width: 100%;
    height: 3.438rem;
    background-color: #121212;

    img {
      width: 3.75rem;
      height: 1.875rem;
      margin-left: 1rem;
      margin-top: 0.938rem;
    }
  }

  .logo {
    display: none;
  }

  .nav {
    li {
      margin: 1.25rem 1rem;
      width: auto;
      height: 5.313rem;
    }
    li:first-child {
      margin-top: 1.25rem;
    }
    a {
      padding-top: 0;
      flex-direction: row;
      height: 100%;
      padding-left: 2rem;

      span {
        font-size: 0.875rem;
        margin-left: 0.625rem;
      }
    }
  }

  .profile {
    position: static;
    margin: 0 1rem;

    .profile_detail {
      justify-content: flex-start;
      padding-left: 1.438rem;
      
      p {
        display: block;
      }
    }
  }
}